<div class="full-container">
  <div map data="Map.mapLayers" config="Map.config" flag="flags.change" id="map">
    <div ng-show="flags.gwrRun" id="legend">
      <strong>Legend:</strong>
      <div color-scale></div>
    </div>
    <div sidebar id="sidebar">
        <div class="navigation">
          <div slide-trigger="settings" class="plugin-selector">
            <span class="icon glyphicon glyphicon-eye-open"></span><br/>
            Layers
          </div>
          <div slide-trigger="style" class="plugin-selector">
            <span class="icon glyphicon glyphicon-tint"></span><br/>
            STYLE
          </div>
          <div slide-trigger="kde" class="plugin-selector">
            <span class="icon glyphicon glyphicon-fire"></span><br/>
            KDE
          </div>
          <div slide-trigger="gwr" class="plugin-selector">
            <span class="icon glyphicon glyphicon-signal"></span><br/>
            GWR
          </div>
        </div>
        <div class="plugin-input">
          <div class="panel" id="settings">
            <h1>Visualize</h1>
            <ul id="layers-control">
              <li ng-show="data.length === 0" class="text-center">You have no data layers</li>
              <li ng-repeat="(key, value) in data">
                <button ng-class="{'btn-primary': isActive($index)}" ng-click="addLayer($index)" class="btn btn-default btn-block">
                  {{value.name | stripUnique}}
                </button>
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-default">Add New Layer</a>
          </div>

          <div class="panel" id="style">
            <h1>Color Settings</h1>

            <h2>KDE Style Settings</h2>
            <div class="form-group">
              <label class="control-label">Color Scheme:</label>
              <select ng-model="Color.kdeColor" class="form-control">
                <option ng-repeat="v in cb">{{v}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">Number of classes:</label>
              <select ng-model="Color.kdeClass" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>            
              </select>
            </div>

            <h2>GWR Style Settings</h2>
            <div class="form-group">
              <label class="control-label">Color Scheme:</label>
              <select ng-model="Color.gwrColor" class="form-control">
                <option ng-repeat="v in cb">{{v}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="control-label">Number of classes:</label>
              <select ng-model="Color.gwrClass" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>            
              </select>
            </div>
          </div>
          <div plugin="kde"></div>
          <div plugin="gwr"></div>
      </div>
    </div>
  </div>
</div>
