<div class="modal-header">
  <h3>K Function</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <!-- Polygon layer input -->
    <div class="form-group">
      <label for="" class="control-label col-md-4">Polygon Layer: </label>
      <div class="col-md-6 input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <!-- End of polygon layer input -->

    <!-- Point layer input -->
    <div class="form-group">
      <label for="" class="control-label col-md-4">Point Layer: </label>
      <div class="col-md-6 input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
    <!-- End of point layer input -->
    
    <!-- Submit input -->
    <div class="form-group">
      <div class="input-group col-md-6 col-md-offset-4">
        <button class="btn btn-success">Submit</button>
      </div>
    </div>
    <!-- End of submit input -->
  </form>
</div>