<div class="modal-header">
  <h3>K Function</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" role="form">
    <!-- Polygon layer input -->
    <div class="form-group">
      <label for="" class="control-label col-md-4">Polygon Layer: </label>
      <div class="col-md-6">
        <div file-input="window"></div>
      </div>
    </div>
    <!-- End of polygon layer input -->

    <!-- Point layer input -->
    <div class="form-group">
      <label for="" class="control-label col-md-4">Point Layer: </label>
      <div class="col-md-6">
        <div file-input="points"></div>
      </div>
    </div>
    <!-- End of point layer input -->
  </form>

  <ul>
    <li ng-repeat="file in files">
      {{file}}
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="execute()" >Execute</button>
  <button class="btn btn-default" ng-click="cancel()" >Cancel</button>
</div>