<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>K Function Test</h2>
      </div>
    </div>
  </div>
  
  <div ng-controller="PluginInputCtrl">
    <div class="row">
      <div class="col-md-2">
        <button class="btn btn-success" ng-click="openPlugin('kfunction', 'KfunctionCtrl')">Launch K Function</button> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 plot-area">
        <div class="page-header">
          <h2>Results</h2>
        </div>
      </div>
    </div>
  </div>
</div>