<div class="full-container" ng-controller="DataCtrl">
  <div class="full-row clearfix">
    <div class="col-md-2">
      <label class="control-label">Select Table: </label>
      <select ng-model="selectDataName" class="form-control">
        <option ng-repeat="(key, value) in data" value="{{$index}}">{{value.name | stripUnique}}</option>
      </select>
    </div>

    <div class="col-md-2">
      <label class="control-label">Filter: </label>
      <input type="text" class="form-control" placeholder="Search table" ng-model="search.$"/>
    </div>

    <div class="col-md-2">
      <label class="control-label"></label>
      <button class="btn btn-primary btn-block" ng-click="openPlugin('kfunction', 'KfunctionCtrl')">Upload New Data</button>
    </div>
    <!--
    <div class="col-md-2">
      <label class="control-label"></label>
      <a tooltip="Coming Soon!" class="btn btn-primary btn-block">Add Social Media Source</a>
    </div>
    -->
  </div>
  <div class="full-row">
    <div class="col-md-12">
      <div class="text-center" ng-show="data.length < 1">
        <h3>No data available</h3>
      </div>
      <div datatable="selectedData" search="search"></div> 
    </div>
  </div>
</div>